<tui-island [hoverable]="true" class="tui-space_bottom-12">
  <p class="tui-island__category">
    Застройщик
  </p>
  <h3 class="tui-island__title">
    Статистика объявлений
  </h3>
  <div class="wrapper">
    <tui-bar-set class="bars" [value]="value" size="l"></tui-bar-set>
    <div class="legend">
      <tui-legend-item *ngFor="let label of labels; let index = index" class="item" [text]="label"
        color="colorHandler(index)" [active]="isItemActive(index)">
      </tui-legend-item>
    </div>
  </div>
</tui-island>

<app-ad></app-ad>
