<tui-island [hoverable]="true" class="tui-space_bottom-12">
  <p class="tui-island__category">
    Застройщик
  </p>
  <h3 class="tui-island__title">
    Статистика объявлений
  </h3>
  <div class="wrapper">
    <tui-loader [showLoader]="loading">
    </tui-loader>
    <tui-bar-set class="bars" [value]="value" size="l" *ngIf="!loading"></tui-bar-set>
    <div class="legend" *ngIf="!loading">
      <tui-legend-item *ngFor="let label of labels; let index = index" class="item" [text]="label"
        color="colorHandler(index)">
      </tui-legend-item>
    </div>
  </div>
</tui-island>

<app-ad *ngFor="let ad of ads" [ad]="ad" [isDeveloper]="true"></app-ad>
