<form [formGroup]="newPassword">
  <p class="tui-island__category">Реэлтор</p>
  <h3 class="tui-island__title">Новый пароль</h3>
  <tui-notification class="tui-space_top-4" *ngIf="error$ | async as error">
    {{error}}
  </tui-notification>
  <tui-input-password class="tui-space_top-2" formControlName="password1" tuiTextfieldAutocomplete="password">
    Введите пароль
  </tui-input-password>
  <tui-input-password class="tui-space_top-2" formControlName="password2" tuiTextfieldAutocomplete="password">
    Повторите пароль
  </tui-input-password>
  <button tuiButton type="button" class="tui-space_top-2 maxWidth" [disabled]="newPassword.invalid"
    (click)="savePassword()" [showLoader]="loading">
    Сохранить пароль
  </button>
</form>
