<form [formGroup]="registration">
  <p class="tui-island__category">Застройщик</p>
  <h3 class="tui-island__title">Регистрация</h3>
  <tui-input class="b-form" formControlName="name" tuiTextfieldAutocomplete="name">
    Введите название
  </tui-input>
  <tui-input class="tui-space_top-2" formControlName="email" tuiTextfieldAutocomplete="email">
    Введите логин
  </tui-input>
  <tui-input-password class="tui-space_top-2" formControlName="password" tuiTextfieldAutocomplete="password">
    Введите пароль
  </tui-input-password>
  <button tuiButton type="button" class="tui-space_top-2 maxWidth" [disabled]="registration.invalid">
    Зарегестрироваться
  </button>
  <p class="tui-island__paragraph tui-island__paragraph_link">Уже есть аккаунт? Самое время
    <a routerLink="/developer/login" tuiLink>авторизоваться</a>!
  </p>
</form>
