<tui-island>
  <p class="tui-island__category">
    Застройщик
  </p>
  <h3 class="tui-island__title">
    Список риэлторов
  </h3>
  <tui-input class="tui-space_bottom-4" [(ngModel)]="search" icon="tuiIconSearch">
    Поиск по имени курьера
  </tui-input>
  <table>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Email</th>
      <th>Номер телефона</th>
      <th>Дата рождения</th>
      <th></th>
      <th></th>
    </tr>
    <!-- <td colspan="5" *ngIf="loading">
      <tui-loader [showLoader]="loading" size="xxl"></tui-loader>
    </td> -->
  </table>
</tui-island>
